
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name='robots' content='all, follow' />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Panel magazynowy</title>   
    <link href="template/public/css/default.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="template/public/css/blue.css" rel="stylesheet" type="text/css" media="screen" /> <!-- color skin: blue / red / green / dark -->
    <link href="template/public/css/datePicker.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="template/public/css/wysiwyg.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="template/public/css/fancybox-1.3.1.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="template/public/css/visualize.css" rel="stylesheet" type="text/css" media="screen" />
    
    <script type="text/javascript" src="template/public/js/jquery-1.4.2.min.js"></script>   
    <script type="text/javascript" src="template/public/js/jquery.dimensions.min.js"></script>
    
    <!-- // Tabs // -->
    <script type="text/javascript" src="template/public/js/ui.core.js"></script>
    <script type="text/javascript" src="template/public/js/jquery.ui.tabs.min.js"></script>

    <!-- // Table drag and drop rows // -->
    <script type="text/javascript" src="template/public/js/tablednd.js"></script>

    <!-- // Date Picker // -->
    <script type="text/javascript" src="template/public/js/date.js"></script>
    <!--[if IE]><script type="text/javascript" src="template/public/js/jquery.bgiframe.js"></script><![endif]-->
    <script type="text/javascript" src="template/public/js/jquery.datePicker.js"></script>

    <!-- // Wysiwyg // -->
    <script type="text/javascript" src="template/public/js/jquery.wysiwyg.js"></script>

    <!-- // Graphs // -->
    <script type="text/javascript" src="template/public/js/excanvas.js"></script>
    <script type="text/javascript" src="template/public/js/jquery.visualize.js"></script>

    <!-- // Fancybox // -->
  	<script type="text/javascript" src="template/public/js/jquery.fancybox-1.3.1.js"></script>

    <!-- // File upload // --> 
    <script type="text/javascript" src="template/public/js/jquery.filestyle.js"></script>
    
    <script type="text/javascript" src="template/public/js/init.js"></script>
  </head>   
  <body>
  <div id="main">
    <!-- #header -->
    <div id="header"> 
      <!-- #logo --> 
      <div id="logo">
        <a href="index.html" title="Go to Homepage"><span>Panel magazynowy</span></a>
      </div>
      <!-- /#logo -->
      <!-- #user -->                        
      <div id="user">
        <h2>Zalogowany</span></h2>
        <a href=""><a href="index.php?logout=true" class="link">wyloguj</a>
      </div>
      <!-- /#user -->  
    </div>
    <!-- /header -->
    <!-- #content -->
    <div id="content">

