 <tr>
              <td class="dragHandle">&nbsp;</td>
              <td><a href="#">{ID}</a></td>
              <td>{NAME}</td>          
              <td>{DESCRIPTION}</td>
              <td>{PRICE}</td>
              <td>{QUANTITY}</td>
	      <td><a href="edit.php?id={ID}">Edycja</a><a href="edit.php?id={ID}" class="ico ico-edit"></a></td>
	      <td><a href="translation.php?id={ID}">Ustawienia języka</a><a href="translation.php?id={ID}" class="ico ico-edit"></a></td>
	      <td><a href="index.php?remove={ID}">Usuń</a><a href="index.php?remove={ID}" class="ico ico-delete"></a></td>
<!--              <td class="action">
                <a href="" class="ico ico-delete">Delete</a>
                <a href="" class="ico ico-edit">Edit</a>
              </td>
-->
</tr>