        <!-- box -->
        <div class="box">
          <div class="headlines">
            <h2><span>Lista języków</span></h2>
          </div>
          <!-- filter -->
          <div class="filter">
            <input type="text" value="column one" title="column one" class="input" />
            <input type="text" value="column two" title="column two" class="input" />
            <input type="text" value="column three" title="column three" class="input" />
            <input type="submit" value="Use filter" class="submit" />
          </div>
          <!-- /filter -->

          <!-- table -->
          <table class="tab tab-drag">
            <tr class="top nodrop nodrag">
              <th class="dragHandle">&nbsp;</th>
              <th>ID</th>
              <th>Nazwa</th>          

            </tr>
           <!-- TEMPLATE BLOCK1 -->

          </table>
          <!-- /table -->

